<?xml version="1.0" encoding="utf-8"?>
<Nastaveni>
  <DatumSpusteni>25.04.2022 18:06:03</DatumSpusteni>
  <SpusteniPoStartu>True</SpusteniPoStartu>
  <Cesty>
    <CestaAplikace>C:\Program Files(x86)</CestaAplikace>
    <CestaDokumenty>C:\Users\Radek\Documents</CestaDokumenty>
  </Cesty>
  <Zprava>Vítej zpět Radku!</Zprava>
</Nastaveni>